<yrd-dialog-header title="חנות חדשה"></yrd-dialog-header>

<div class="main-content">
  <form>
    <mat-form-field color="accent">
      <mat-label>שם</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>עיר</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>רחוב ומספר</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>אימייל</mat-label>
      <input matInput type="email">
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>טלפון</mat-label>
      <input matInput>
    </mat-form-field>
  
    <mat-form-field color="accent">
      <mat-label>הערות</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>

	<button mat-flat-button color="accent" class="create-store-button">
	  צור את החנות שלי
	</button>
</div>
