@import "variables.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  .main-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    form {
      display: flex;
      flex-direction: column;
      ::ng-deep .mat-form-field-outline > [class^="mat-form-field-outline"] {
        background-color: #fff;
      }
    }
    .create-store-button {
      border-radius: 40px;
      margin-bottom: 56px;
    }
  }
}
