@import "variables.scss";

:host {
  flex: 1;
  background-color: $color-background;
  direction: rtl;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 108px;
  
  .nav-item {
    box-sizing: border-box;
    margin: 10px;
    border-radius: 40px;
    width: 272px;
    height: 48px;
    border-color: $color-primary;
  }
}
