<mat-card class="card">
  <!-- add a if/else for displaying the img or the no-item-container -->
    <!-- <img mat-card-image src="/assets/img/logo.png" alt="" /> -->
    <div class="no-item-img-container">
      <i class="material-icons no-item-img">storefront</i>
    </div>
    <mat-card-title>שם הדוכן</mat-card-title>
    <mat-card-content>זהו תיאור הדוכן, הדוכן מוכר צעצועים, כלי כתיבה, ציוד לסטודנט ולבית הספר משלוחים עד הבית והפתעות.</mat-card-content>
    <footer>רחובות</footer>
</mat-card>

