<mat-card class="card">
  <!-- add a if/else for displaying the img or the no-item-container -->
    <!-- <img mat-card-image src="/assets/img/logo.png" alt="" /> -->
    <div class="no-item-img-container">
      <i class="material-icons no-item-img">storefront</i>
    </div>
    <mat-card-title>
      <ng-content select="slot-title"></ng-content>
    </mat-card-title>
    <mat-card-content>
      <ng-content select="slot-content"></ng-content>
    </mat-card-content>
    <footer>
      <ng-content select="slot-footer"></ng-content>
    </footer>
</mat-card>

