.card {
  direction: rtl;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 240px 32px 56px 16px;
  width: 256px;
  height: 369px;
  margin: 16px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
}
