@import "variables.scss";

:host {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  margin: 0 137px;
  .new-store-button {
    box-sizing: border-box;
    border-radius: 40px;
    margin-right: 26px;
    color: #fff;
    width: 192px;
    height: 48px;
  }
  a.account {
    color: $color-accent;
    @extend %link
  }
}

a.home-link {
  text-decoration: none;
  color: $color-text-primary;

  .logo-container {
    direction: rtl;
    margin-right: 140px;
    img {
      margin-right: 12px;
    }
  }
}
