<div id="app-container">
  <header>
    <yrd-header></yrd-header>
  </header>
  <div class="main-pane">
    <!-- because the header is fixed positioned and floating, the header spacer fills its place in the document flow -->
    <div class="header-spacer"></div>
    <div class="banner-container"><yrd-banner></yrd-banner></div>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <div class="nav-container">
      <yrd-nav></yrd-nav>
    </div>
  </div>
  <footer>
    <yrd-footer></yrd-footer>
  </footer>
</div>
