#app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // & > * {
  //   border: 1px dashed;
  // }
  & > header {
    display: flex;
    height: 96px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  & > .main-pane{
    display: grid;
    grid-template-rows: [banner-start] 400px [main-start] 1fr [main-end];
    grid-template-columns: [page-start] 1fr [nav-start] 384px [page-end];
    flex: 1;
    & > .banner {
      grid-row: banner-start / main-start;
      grid-column: page-start / page-end;
      background-image: url('/assets/img/banner.png');
    }
    & > .content {
      grid-row: main-start / main-end;
      grid-column: page-start / nav-start;
    }
    & > .nav-container {
      display: flex;
      grid-row: main-start / main-end;
      grid-column: nav-start / page-end;
    }
  }
  & > footer {
    display: flex;
    height: 96px;
  }
}