#app-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: [page-start] 136px [main-start] 1fr [footer-start] 50px [page-end];
  grid-template-columns: [page-start] 1fr [main-end nav-start] 384px [page-end];
  & > header {
    display: flex;
    grid-row: page-start / main-start;
    grid-column: page-start / page-end;
  }
  & > main {
    display: flex;
    background-color: #ffb0a1;
    grid-row: main-start / footer-start;
    grid-column: page-start / main-end;
  }
  & > nav {
    display: flex;
    background-color: #de7a67;
    grid-row: main-start / page-end;
    grid-column: nav-start / page-end;
  }
  & > footer {
    display: flex;
    grid-row: footer-start / page-end;
    grid-column: page-start / page-end;
  }
}