@import "variables.scss";

:host {
  flex: 1;
  background-color: $color-background;
  display: flex;
  flex-wrap: wrap;
  padding-left: 128px;
  // justify-content: space-evenly;
}

img[mat-card-image] {
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.no-item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .no-item-img {
    font-size: 120px;
  }
}

h4 {
  margin: 8px 0;
}

footer[slot-footer] {
  margin-top: 3px;
  color: $color-text-secondary;
}