@import "variables.scss";

:host {
  flex: 1;
  background-color: $color-background;
  display: flex;
  flex-wrap: wrap;
  padding-left: 128px;
  // justify-content: space-evenly;
}

img[mat-card-image] {
  max-width: 256px;
  max-height: 256px;
}

.no-item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .no-item-img {
    font-size: 120px;
  }
}