@import "variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  color: $color-text-primary;
}

mat-dialog-container {
  background-color: #F1F4F5 !important;
}