/* Colors */
$color-primary: #FF5722;
$color-primary-light: #FFCCBC;
$color-primary-dark: #E64A19;
$color-accent: #03A9F4;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-background: #F1F4F5;
$color-divider: #BDBDBD;

/* Typography */
%link {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
}